{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="table-container">
    <h1>All Users</h1>
    <div class="form-row">
        <div class="form-container">
            <form method="get" action="">
                <input type="text" name="user" placeholder="Search User">
                
            </form>
        </div>
        <div class="filter-container">
            <button type="submit">Filter</button><!-- Place your filter option here -->
            <!-- Example: a dropdown or another input field -->
        </div>
    </div>
    <table class="all_users_table">
        <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email-ID</th>
{#                <th>Customer Email</th>#}
{#                <th>Travel Date</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td style="text-align: center;"><a href="{% url 'profile_update' user.id %}" class="edit-action"><i class="fas fa-edit"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br><br>
</div>
{% endblock %}
