{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
  
<div class="booking-container">
    <h2 align="center" class="px-3 my-4" style="border: none">Book Package</h2>
    <form method="post" class="booking-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="booking-button">Submit Booking</button>

    </form>
</div>

<style>
    .booking-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .booking-form {
        display: flex;
        flex-direction: column;
        margin-right: 25px;
    }

    .booking-form p {
        margin-bottom: 0.5em;
    }

    .booking-button {
        padding: 0.5em 1em;
        font-size: 1rem;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 91%;
    }

    .booking-button:hover {
        background-color: #0056b3;
    }
</style>

{% endblock %}
