{% extends 'base.html' %}

{% block content %}

{#    <div id="redirect-url" data-url="{% url 'index' %}" style="display: none;"></div>#}

<script>
    // Function to show a popup and redirect after 5 seconds
    function showPopupAndRedirect() {
        alert('Booking with ID {{ booking_id }} was successful.');
        setTimeout(function() {
            {#var redirectUrl = document.getElementById('redirect-url').getAttribute('data-url');#}
            window.location.href = "{{ redirect_url }}";
        }, 5000); // 5000 milliseconds = 5 seconds
    }

    // Call the function when the page loads
    window.onload = showPopupAndRedirect;
</script>

<!-- You can place additional content here that will be displayed before the popup shows, if necessary. -->
<div>
    <h2 style="border: none">Your booking was successful!</h2>
    <p>Redirecting to your booking order...</p>
</div>

{% endblock %}
